<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Most times you don't need to respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Carrier text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>enabledCarrier</string>
			<key>label</key>
			<string>Enable?</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<!-- <key>default</key>
			<string>test</string> -->
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>customCarriertext</string>
			<key>label</key>
			<string>Custom carrier text:</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>enabledClock</string>
			<key>label</key>
			<string>Enable?</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>enabledClockFormat</string>
			<key>label</key>
			<string>Custom clock format</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<!-- <key>default</key>
			<string>test</string> -->
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>customtext</string>
			<key>label</key>
			<string>Custom clock text/format:</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Battery percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>enabledBPercent</string>
			<key>label</key>
			<string>Enable tweak?</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lebao3105.sbartweakprefs</string>
			<key>key</key>
			<string>showUsedBP</string>
			<key>label</key>
			<string>Show used battery percents (format: -value%)</string>
			<key>PostNotification</key>
			<string>me.lebao3105.sbartweakprefsUpdated</string>
		</dict>
	</array>
	<key>title</key>
	<string>SBarTweakPrefs</string>
</dict>
</plist>
