Package: me.lebao3105.sbaroverride
Name: SBarOverride
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome status bar tweak!
Maintainer: lebao3105
Author: lebao3105
Section: Tweaks
Depends: 
SileoDepiction: https://raw.githubusercontent.com/lebao3105/repo/main/descriptions/me.lebao3105.sbaroverride.json
